pandas~=2.2.3
yfinance~=0.2.58
streamlit~=1.45.1
plotly~=6.2.0
sqlalchemy~=2.0.41
statsmodels~=0.14.4
flask~=3.1.2
jupyterlab_pygments~=0.3.0
pip~=25.1
attrs~=25.3.0
wheel~=0.45.1
pysocks~=1.7.1
protobuf~=6.31.0
openssl~=3.5.0
cryptography~=45.0.5
pillow~=11.2.1
tornado~=6.4.2
jinja2~=3.1.6
setuptools~=80.1.0
packaging~=24.2
pyparsing~=3.2.3
matplotlib~=3.10.3
torch~=2.7.0+cu128
scikit-learn~=1.6.1
numpy~=2.2.5
requests~=2.32.3