<!DOCTYPE html>

<div class="modal" id="holdings_list_modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modalTitle">Holding</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% for ticker_name, rows in ticker_tables.items() %}

                <table id = "table-{{ticker_name}}" class="table table-bordered d-none">
                    <thead class="table-light">
                        <tr>
                            <th>id</th>
                            <th>Date Added</th>
                            <th>Quantity</th>
                            <th>Purchase Price</th>
                            <th>Gain/(Loss) $</th>
                            <th>Gain/(Loss) %</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for holding in rows %}
                        <tr>
                            <td>{{ holding.holding_id }}</td>
                            <td>{{holding.date_added}}</td>
                            <td>{{holding.holding_size}}</td>
                            <td>{{holding.purchase_price}} </td>
                            <td>{{ holding.exact_gain }}</td>
                            <td>{{ holding.percent_gain }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endfor %}

            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById("holdings_list_modal").addEventListener('show.bs.modal', function(event) {
        const button = event.relatedTarget;
        const targetId = button.getAttribute('data-table');

        this.querySelector('.modal-title').textContent = button.getAttribute('data-ticker_name');

        this.querySelectorAll('.modal-body table').forEach(table => {
            table.classList.add('d-none');
        });

        const selectedTable = this.querySelector(targetId);
        if (selectedTable) {
            selectedTable.classList.remove('d-none');
        }
    });

</script>
