<!DOCTYPE html>

<header>
<!--    <h1> Stock Portfolio Project </h1>-->
</header>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <a class="navbar-brand" href="/">
        Stock Portfolio Project
    </a>
    <a href="{{ url_for('index') }}" class="{% if active_page == 'index' %}active{% endif %}">
        Home
    </a>
    <a href="{{ url_for('holdings') }}" class="{% if active_page == 'holdings'%}active{% endif %}">
        Holdings
    </a>
    <a href="{{ url_for('dividends') }}" class="{% if active_page == 'dividends'%}active{% endif %}">
        Dividends
    </a>
    <a href="{{ url_for('performance') }}" class="{% if active_page == 'performance'%}active{% endif %}">
        Performance
    </a>
    <a href="{{ url_for('prices') }}" class="{% if active_page == 'prices'%}active{% endif %}">
        Prices
    </a>
</nav>

<style>
    nav {
        background-color: #f0f0f0;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 8px;
    }
    nav a {
        text-decoration: None;
        color: #333;
        padding: 8px 12px;
        border-radius: 5px;
        margin-right: 10px;
        font-weight: bold;
    }
    nav a:hover {
        background-color: #ddd;
    }
    nav a.active {
        background-color: #4CAF50;
        /*color: white;*/
    }

</style>
