<!DOCTYPE html>
<html lang="en">


<table class="table table-bordered">
    <thead class="table-light">
    <tr>
        <th>id</th>
        <th>Edit/Delete</th>
        <th>Ticker</th>
        <th>Holding Type</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Date Added</th>
        <th>Date Edited</th>
    </tr>
    </thead>

    <tbody>
    {% for holding in holdings %}
    <tr>
        <td>{{ holding.holding_id }}</td>
        <td>
            <button type="button" class="btn btn-primary btn-100"
                    data-bs-toggle="modal" data-bs-target="#editModal"
                    data-id = "{{ holding.holding_id }}"
                    data-ticker_name = "{{ holding.ticker.ticker_name }}"
                    data-holding_type="{{ holding.ticker.holding_type }}"
                    data-holding_size="{{ holding.holding_size }}"
                    data-date_edited = "{{ holding.date_edited }}"
                    data-delete-url="{{ url_for('delete_holdings', holding_id=holding.holding_id) }}">
                Edit
            </button>
        </td>
        <td>
            <button type="button" class="btn btn-100"
                    data-bs-toggle="modal" data-bs-target="#holdings_list_modal"
                    data-ticker_name="{{ holding.ticker.ticker_name }}"
                    data-holdings="{{ ticker_holdings }}"
                    data-date = "{{ holding.date_added }}"
                    data-quantity = "{{ holding.holding_size }}"
                    data-price = "{{ holding.ticker.current_price }}"
                    data-exact_gain = "{{ holding.exact_gain }}"
                    data-percent_gain = "{{ holding.percent_gain }}">
                {{ holding.ticker.ticker_name }}
            </button>
        </td>
        <td>{{ holding.ticker.holding_type }}</td>
        <td>{{ holding.ticker.current_price }} </td>
        <td>{{ holding.holding_size }}</td>
        <td>{{ holding.date_added }}</td>
        <td>{{ holding.date_edited }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>




<table class="table table-bordered">
    <thead class="table-light">
    <tr>
        <td>Holding Id</td>
        <td>Date</td>
        <td>Quantity</td>
        <td>Price</td>
        <td>Gain/(Loss) $</td>  <!-- gain = (current_price - purchase_price) * quantity -->
        <td>Gain/(Loss) %</td>
    </tr>
    </thead>

    <tbody>
    {% for holding in ticker_holdings %}
    <tr>

        <td>{{ data-date }}</td>
        <td>{{ data-quantity }}</td>
        <td>{{ data-price }}</td>
        <td>{{ data-exact_gain }}</td>
        <td>{{ data-percent_gain }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>



</html>